html
    head
        title SecretChannel
        style
          include style.css
    body
      div.content
        h1 Welcome to Secretchannnel
        h3 The Secret-Agent message delivery network
        p Your superior requests a secret document aquired from your espionage activity.
        p Use the form below to upload the requested file
        form(
          action='/upload'
          method='POST'
          enctype='multipart/form-data'
          )
          label(for='token') Token
          input(type='text' name='token' value=orig_token)
          label(for='pw') Password
          input(type='password' name='pw' value=orig_pw)
          label(for='file')
          input(type='file' name='file')
          input(type='submit' value='Upload file')
